/* Smartphones in portrait mode (0-479px) */
@media only screen and ( max-width: 479px ) {
    /* your css goes here */
    header .intro-text .tagline{
		font-size: 26px;
    }
    .contact-info{
		text-align: center!important;
    }
    .no-touch #cd-vertical-nav{
		display: none;
    }
    .product-description{
		top: 0px;
    }
    #investReady-section .product-description{
		top: 0;
    }
    #merge-section .product-description{
		top: 0;
    }
    .product-images{
		padding: 25px 0px 0px;
    }
    .padding-vite{
		padding: 30px;
    }
    .navbar-default .navbar-collapse{
    	background: #fff;
    }
    .navbar-custom .navbar-nav li a{
    	color: #777!important;
    	text-align: center;
    }
    .skyline-bg img{
		height: 130px;
    }
    .scroll-down{
		bottom: 60px;
    }
    #vite-section .scroll-down{
		bottom: 35px;
    }
    #banner-section-contact .tagline{
		font-size: 42px;
    }
    .google-maps {
		padding-bottom: 75%;
    }
    #banner-section-about .scroll-down:before{
    	display: none;
    }
    #banner-section-about .scroll-down{
		font-size: 21px;
    }
    .intro-para{
		font-size: 18px;
		padding: 10px;
    }
    .work-process img{
		margin: 40px auto!important;
		margin-bottom: 0px!important;
    }
    .content-headline{
    	text-align: center;
    	font-size: 23px;
    	margin-top: 20px;
    }
    .content-para{
		padding: 10px;
		text-align: center;
    }
    .project-brief .content-para{
		text-align: justify;
    }
    .view-second h2{
		margin: 60px 40px 0px 40px!important;
		font-weight: 400;
		font-size: 28px;
	}
   
}

/* Smartphones in landscape mode (480-768px) */
@media only screen and ( min-width: 480px ) and ( max-width: 767px ) {
    /* your css goes here */
     header .intro-text .tagline{
		font-size: 26px;
    }
     .work-process img{
		margin: 40px auto!important;
		margin-bottom: 0px!important;
    }
    .content-headline{
    	text-align: center;
    	font-size: 23px;
    	margin-top: 20px;
    }
    .content-para{
		padding: 10px;
		text-align: center;
    }
    #banner-section-about .scroll-down:before{
    	display: none;
    }
    #banner-section-contact .tagline{
		font-size: 36px;
    }
    .no-touch #cd-vertical-nav{
		display: none;
    }
     .contact-info{
		text-align: center!important;
    }
    .product-description{
		top: 0px;
    }
    #investReady-section .product-description{
		top: 0;
    }
    #merge-section .product-description{
		top: 0;
    }
    .product-images{
		padding: 25px 0px 0px;
    }
    .padding-vite{
		padding: 30px;
    }
    .navbar-default .navbar-collapse{
    	background: #fff;
    }
    .navbar-custom .navbar-nav li a{
    	color: #777!important;
    	text-align: center;
    }
    .skyline-bg img{
		height: 130px;
    }
    .scroll-down{
		bottom: 60px;
    }
    #vite-section .scroll-down{
		bottom: 35px;
    }
}

/* Tablets in portrait mode (768-980px) */
@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {
    /* your css goes here */
     #investReady-section .product-description{
		top: 0;
    }
    .project-brief .content-para{
		text-align: justify;
    }
    .work-process img{
		margin: 40px auto!important;
		margin-bottom: 0px!important;
    }
    .content-headline{
    	text-align: center;
    	font-size: 23px;
    	margin-top: 20px;
    }
    .content-para{
		padding: 10px;
		text-align: center;
    }
    #merge-section .product-description{
		top: 0;
    }
     #vite-section .product-description{
		top: 0;
    }
    #vite-section .scroll-down{
		bottom: 35px;
    }
}

/* Tablets in landscape mode (981-1100px) */
@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) { 
    /* your css goes here */
       #investReady-section .product-description{
		top: 0;
    }
    #merge-section .product-description{
		top: 0;
    }
     #vite-section .product-description{
		top: 0;
    }
    #vite-section .scroll-down{
		bottom: 35px;
    }
    .no-touch #cd-vertical-nav{
		top: 45%;
    }
    .content-headline{
		margin-top: 20px;
    }
}