/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  font-family: 'GT Walsheim', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  letter-spacing: 1.5px;
  
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/gt-walsheim-thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/gt-walsheim-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/gt-walsheim-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/gt-walsheim-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/gt-walsheim-ultra-light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus{
	background: none!important;
}


p {
  font-size: 20px;
}
.intro-para{
	padding: 10px 25px;
	font-weight: 400;
	font-size: 20px;
	color: #000;
	line-height: 1.8em;
	letter-spacing: 0.4px;
	-webkit-font-smoothing: antialiased;
}
.content-para{
	padding: 10px 35px;
	font-weight: normal;
	color: #000;
	font-size: 15px;
	line-height: 1.8em;
	letter-spacing: 0.4px;
	-webkit-font-smoothing: antialiased;
}
.navbar-custom .navbar-toggle{
	border: 0;
	font-size: 22px!important;
}
.nav-bg{
	background: #ffffff!important;
	margin-top: 0px!important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.nav-bg .navbar-nav li a{
	color: #000!important;
	font-weight: 300!important;
}
.nav-bg .navbar-nav li a:hover{
	font-weight: 500!important;
	color: #000!important;
	-webkit-font-smoothing: antialiased;
}
.navbar-custom{
	    padding: 15px 0!important;
}
.navbar-custom .navbar-toggle{
	padding: 0;
}
.dark-text{
	color: #010101!important;
}

p.small {
  font-size: 16px;
}
.button-default:focus{
	color: #fff;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GT Walsheim';
  font-weight: 700;

}
.uppercase{
	text-transform: uppercase;
	font-family: 'GT Walsheim'!important;
}
.img-centered {
  margin: 0 auto;
}

.p-top-10 {
    padding-top: 10px;
}
.p-top-20 {
    padding-top: 20px;
}
.p-top-30 {
    padding-top: 30px;
}
.p-top-40 {
    padding-top: 40px;
}
.p-top-60 {
    padding-top: 60px;
}
.p-top-80 {
    padding-top: 80px;
}
.p-top-100 {
    padding-top: 100px;
}
.p-top-140 {
    padding-top: 140px;
}
.p-bottom-10 {
    padding-bottom: 10px;
}
.p-bottom-20 {
    padding-bottom: 20px;
}
.p-bottom-30 {
    padding-bottom: 30px;
}
.p-bottom-40 {
    padding-bottom: 40px;
}
.p-bottom-60 {
    padding-bottom: 60px;
}
.p-bottom-80 {
    padding-bottom: 80px;
}
.p-bottom-100 {
    padding-bottom: 100px;
}
.p-bottom-140 {
    padding-bottom: 140px!important;
}
.m-left-25{
	margin-left: 25px;
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-top-60 {
    margin-top: 60px;
}
.m-top-80 {
    margin-top: 80px;
}
.m-top-100 {
    margin-top: 100px;
}
.m-top-120 {
    margin-top: 120px;
}
.m-top-140 {
    margin-top: 140px;
}
.m-top-160 {
    margin-top: 160px;
}
.m-bottom-10 {
    margin-bottom: 10px;
}
.m-bottom-20 {
    margin-bottom: 20px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}
.m-bottom-40 {
    margin-bottom: 40px!important;
}
.m-bottom-60 {
    margin-bottom: 60px;
}
.m-bottom-80 {
    margin-bottom: 80px;
}
.m-bottom-100 {
    margin-bottom: 100px;
}
.m-bottom-140 {
    margin-bottom: 140px;
}
.m-left-20{
	margin-left: 20px;
}
.margin-auto{
	margin: 0 auto;
}
.text-center{
	text-align: center!important;
}
.separator{
	    border-bottom: 1px solid #fff;
    width: 20%!important;
    margin: 0;
}
header {
  text-align: center;
  
  color: white;

    background-size: cover;
}
#banner-section-home{
	background-image: url(../img/home/stars.png), 	-webkit-linear-gradient(#00bbc2, #03d7c8);
  				-moz-linear-gradient(#00bbc2, #03d7c8);
  				-o-linear-gradient(#00bbc2, #03d7c8);
  				linear-gradient(#00bbc2, #03d7c8);
}

header .container {
  padding-top: 100px;
}
header img {
  display: block;
  margin-bottom: -25px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .tagline {
  font-size: 34px;;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .tagline {
    font-size: 34px;
  }
}
/* No Touch devices */
.cd-nav-trigger {
  display: none;
}
.side-scroll-title{
	text-transform: uppercase;
	color: #fff;
	font-weight: 100;
	font-size: 16px;
	letter-spacing: 3px;
}
ul{
	list-style: none;
	cursor: pointer;
}
.is-selected{
		width: 35px!important;
    margin-right: 0px;
     -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    transition: all 0.3s!important;
}
.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
      margin-top: -10px;
      cursor: pointer;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav li > a:hover  {
  	width: 35px;
    margin-right: 0px;
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;

}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 2.5px;
    width: 20px;
    right: 3px;
    border-radius: 0%;
    background-color: #f1f1f1;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.skyline-bg{
	overflow: hidden;
}
.skyline-bg img{
	min-width: 100%;
}
.scroll-down{
	position: relative;
	bottom: 120px;
	text-transform: uppercase;
	font-weight: 400;
	    letter-spacing: 3px;
    font-size: 11px;
    color: #fff;
    
}
.scroll-down:hover, .scroll-down:focus{
	color: #fff;
	text-decoration: none;
}
.scroll-down:before{
	content: url("../img/home/down_arrow.png");
	    position: absolute;
    top: 40px;
    left: 60px;
}
.scroller{
	text-align: center;
	position: relative;
}
.navbar-custom {
  background: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
  font-weight: 100;
    font-family: "GT Walsheim";
    font-size: 16px;
    cursor: pointer;
}
.navbar-custom .navbar-nav li a:hover {
  color: #fff;
  font-weight: normal;!important;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.custom-padding{
	width: 95%;
	margin: 0 auto;
	
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18BC9C;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.project-title{
	font-family: 'GT Walsheim', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: none;
	color: #fff;
	font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 27px;
    letter-spacing: 0.4px;
}
.product-description{
	color: #fff;
	padding: 22px;
    top: 180px;
    position: relative;
}
.description{
	font-size: 27px;
	font-weight: 100;
	color: #fff;
}
.product-images{
	padding: 24px;
}
.project-categories{
	font-size: 18px;
	color: #fff;
	font-weight: 300;
}

/*-------------------------vite-section---------------------------*/
#vite-section{
	  background: -webkit-linear-gradient(#b22dc6, #c087e5);
  				-moz-linear-gradient(#b22dc6, #c087e5);
  				-o-linear-gradient(#b22dc6, #c087e5);
  				linear-gradient(#b22dc6, #c087e5);

  	 margin-bottom: -25px;
  	 overflow: hidden;
}
#vite-section .scroll-down{
	bottom: 60px;
	position: absolute;
}
#vite-section .scroll-down:before{
	    left: -15px;
}

/*-------------------------invest ready-section---------------------------*/
#investReady-section{
	  background: -webkit-linear-gradient(#89be56, #9ee561);
  				-moz-linear-gradient(#89be56, #9ee561);
  				-o-linear-gradient(#89be56, #9ee561);
  				linear-gradient(#89be56, #9ee561);
}
#investReady-section .product-description{
	top: 60px;
}
#investReady-section .scroll-down{
	bottom: 20px;
	position: relative;
}
#investReady-section .scroll-down:before{
	left: 130px;
    position: absolute;
}
#investReady-section .scroll-down:after{
	top: 80px!important;

}
.scroller-tagline{
	position: relative;
	top: 80px;
	text-transform: none;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 20px;
}
.scroller-tagline strong{
	font-weight: normal;
}
/*-------------------------merge-section---------------------------*/
#merge-section{
	  background: -webkit-linear-gradient(#5637c3, #4368ea);
  				-moz-linear-gradient(#5637c3, #4368ea);
  				-o-linear-gradient(#5637c3, #4368ea);
  				linear-gradient(#5637c3, #4368ea);
}
#merge-section .product-description{
	top: 80px;
}
#merge-section .scroll-down{
	bottom: 40px;
	position: relative;
}
#merge-section .scroll-down:before{
	left: 130px;
}
#merge-section .scroller-tagline{
	top: 100px;
}

/*-------------------------Only About Us pages content ---------------------------*/

#banner-section-about{
	background-image: url(../img/about-assets/triangles.png), 	-webkit-linear-gradient(#2670bf, #11b8d2);
  				-moz-linear-gradient(#2670bf, #11b8d2);
  				-o-linear-gradient(#2670bf, #11b8d2);
  				linear-gradient(#2670bf, #11b8d2);
}
#banner-section-about .scroll-down{
	text-transform: none;
	font-size: 18px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}
#banner-section-about .scroll-down:before {
    content: url(../img/home/down_arrow.png);
    position: absolute;
    top: 60px;
    left: 195px;
}
.hide-anchor{
	display: none;
}
.content-right{
	width: 70%;

}
.content-left{
	width: 30%;
	float: left;
}
.border-left{
	border-left: 2px dashed #444;
}
.content-headline{
	color: #000;
	font-size: 28px;
	letter-spacing: 0.4px;
	font-weight: 500;
	padding: 10px 35px;
	-webkit-font-smoothing: antialiased;
}
.work-process{
	padding: 10px 25px;
}
.our-team{
	background: #9affeb;
	    padding: 0px 0;

}
.our-team .heading-title{
	padding: 10px 10px;
}
.our-team .team-member-intro{
	padding: 35px;
	text-align: center;
	font-weight: normal;
	color: #000;
	line-height: 1.8em;
	letter-spacing: 0.4px;
	-webkit-font-smoothing: antialiased;
}
.our-team .team-member-intro p {
	font-size: 15px;
}
.team-member-intro span{
	font-weight: 400;
	font-size: 18px;
}
.heading-title{
	padding: 10px 25px;
	font-weight: 500;
	letter-spacing: 6px;
	font-size: 16px;
	text-transform: uppercase;
}

/*-------------------------Only About Us pages content ---------------------------*/

/*-------------------------Only Work details pages content ---------------------------*/

#banner-work-details{
	
	background-image: url(../img/work-details/banner-image.png);
	
	background-size: cover;
	
	position: relative;
	background-position: center top;
	
	background-attachment: fixed;
}
.work-details .scroll-down:before{
	position: static;
}
#banner-work-details::before{
	 background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
#banner-work-details .tagline{
	font-size: 42px;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
}
.project-brief .content-para{
	padding: 5px 0px;
	color: #777;
	line-height: 24px;
	font-size: 17px;
}
.project-brief p{
	margin-bottom: 5px;
}
.brief-title{
	font-size: 16px;
	color: #777;
}
/*-------------------------Only Contact pages content ---------------------------*/

#banner-section-contact{
	background: -webkit-linear-gradient(#f72045, #e1754c);
  				-moz-linear-gradient(#f72045, #e1754c);
  				-o-linear-gradient(#f72045, #e1754c);
  				linear-gradient(#f72045, #e1754c);
}
#banner-section-contact .tagline{
	font-size: 42px;
}
#banner-section-contact .social-share a{
	font-size: 28px;
	    padding: 15px 10px;
}

    .google-maps {
        position: relative;
        padding-bottom: 40%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.contact-info{
	text-align: left;
}
.contact-info .lead{
	font-size: 15px;
	letter-spacing: 0.4px;
}
.contact-info h4{
	font-weight: 400;
}
.contact-info .lead a{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.button-quotation{
	text-transform: uppercase;
	font-weight: 400!important;
	font-size: 11px!important;
	    padding: 12px 25px!important;
	letter-spacing: 3px!important;
}
.modal-content .nav-pills{
	background: #fff;
	height: 60px;
}
.modal-content .nav-justified>li>a{
	padding: 20px;
	color: #999;
}
.modal-content .nav-justified>li>a:hover{
	background: #7d7d7d;
	border-radius: 0px;
	color: #fff;
}
/*Right modal*/
.modal.right .modal-content {
		overflow-y: auto;
		padding: 30px;
		height: 1080px;
	}
.modal-content .glyphicon{
	top: 20.2%;
	position: absolute!important;
	right: 10%;
}
textarea.form-control{
	height: auto!important;
}
.modal-content .form-control{
	height: 60px;
	padding: 20px 25px;
	font-size: 16px;
	border-radius: 0px;
	border: 0px;
	letter-spacing: 0.6px;
	font-weight: 400;
}
.modal-content select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    border-radius: 0px;
    border: 0px;
    font-weight: 400;
    letter-spacing: 0.6px;
  
}

.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 500px;
		overflow-y: auto;
		height: auto;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
		background: #dfdfdf;
	}

	.modal-header {
		background: #dfdfdf;
		padding-top: 5px;
		border: 0px;
		
	}
	.modal-title{
		font-size: 32px;
		letter-spacing: 0.6px;
		color: #666666;
		font-weight: 500;
	}
/* ----- v CAN BE DELETED v ----- */


.btn-quote{
	border-radius: 0px;
	background: #dc410b;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	color: #fff;
	font-size: 12px;
	padding: 10px 25px;
}
.btn-quote:hover,.btn-quote:focus{
	color: #fff;
}
.modal-content .close span{
	font-size: 28px;
    color: #000;
}
button.close{
	left: -3%!important;
	position: absolute;
    top: 50%!important;
}
/*---------------Contact page end-----------------*/
footer {
  color: white;
  background: #212121;
}
footer p, span {
	font-size: 16px;
	font-weight: 300;
}
footer .copyright-info{
	padding: 15px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
footer .social-share{
	padding: 15px;
}
.social-share a{
	color: #fff;
	font-size: 38px;
	cursor: pointer;
	padding: 15px 20px;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.button-arrow:before{
	content: url("../img/home/right_arrow.png");
	    position: relative;
    top: 5px;
    left: 8px;
    float: right;
}

.button-default {
    background: none;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 12px 30px;
    padding-left: 25px;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
}
.button-view-projects{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 12px;
}
.button-default:hover{
	
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: #fff!important;
    padding-left: 30px;
    padding-right: 35px;

}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}

