/*-------------------------Only Work pages content ---------------------------*/

.work-section{
	
}
.header-link-black{
	color: #010101;
}

#banner-section-work{
	background: #528dc8;
}
#banner-section-work .tagline{
	font-size: 40px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
.filter-title{
	font-weight: 500;

}
.filter-title a{
	color: #fff;
	
	
}

.filter-title a:hover, a:focus{
	padding-bottom: 10px;
	border-bottom: 3px solid #fff!important;
	text-decoration: none;
	
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    
}
.view .mask, .view .work-description {
    width: 100%;
    height: 300px;
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view-second:hover img { 
	transform: scale(1.1);
} 
.view-second img { 	
	transition: all 0.2s ease-in;
}
.view-second .mask {
    background-color: rgba(0, 0, 0, 0.5);
    width: 1200px;
    /* padding: 60px; */
    height: 900px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.view-second h2 {
    background: transparent;
    margin: 140px 40px 0px 40px;
    font-weight: 400;
    font-size: 
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
	transition: all 0.2s ease-in-out;
	
}
.view-second p { 
	transform: translate(-200px, 200px);
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	letter-spacing: 0.4px;
}
.view-second a.info { 
    transform: translate(0px, 100px);
	transition: all 0.2s 0.1s ease-in-out;
} 
.view-second:hover .mask { 
	opacity:1; 
	transform: translate(-80px, -125px) rotate(45deg);
}							  
.view-second:hover h2 { 
	transform: translate(0px,0px);
	transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
	transition-delay: 0.4s;
}
.view-second:hover a.info { 
	transform: translate(0px,0px); 
	transition-delay: 0.5s;
}
/*-------------------------Only Work pages content ---------------------------*/

